<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
	<connectionStrings>
		
	</connectionStrings>
	<appSettings>
		<add key="Target" value="Chrome" />
		<!-- maximum wait time for a page to load-->
		<add key="PageTimeOut" value="10" />
		<!-- maximum wait time for emails in minutes -->
		<add key="MaxEmailWaitTime" value="5" />
		<!-- mobile web automation-->
		<add key="Web.Url" value="http://google.com" />
		<add key="RemoteServerAddress" value="http://127.0.0.1:4723/wd/hub/" />
		<add key="AppleDeveloperTeamId" value="" />
		<add key="PlatformVersion" value="11.3.1" />
		<add key="DeviceName" value="Summatix’s iPad Air 2" />
		<add key="DeviceId" value="70e6eceb1212123243367f8be0d82e49d" />
		<!-- Serilog & Seq -->
		<add key="MinimumLoggingLevel" value="Verbose" />
		<add key="Seq.Address" value="http://localhost:5341" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<specFlow>
		<stepAssemblies>
			<stepAssembly assembly="Summatix.Automation.Core" />
		</stepAssemblies>
		
		<!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider --><unitTestProvider name="SpecRun" />
		<plugins>
			<add name="SpecRun" />
		</plugins>
	<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
	<runtime>
		
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		
				<dependentAssembly>
		
						<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
		
						<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
		
				</dependentAssembly>
		
				<dependentAssembly>
		
						<assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
		
						<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
		
				</dependentAssembly>
		
		</assemblyBinding>
	</runtime>
	
</configuration>